* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, Helvetica;
    background-color: #e7dfd8;
    color: #302b25;
    margin: 0%;
    line-height: 1.5em;
}
hr{
    width: 90%;
    margin-top: 10%;
    color: #302b25a7;
}
h2 {
    margin-top: 10%;
    margin-bottom: 20%;
}

.learn {
    text-decoration: none;
    background-color: #302b25;
    color: #e7dfd8;
    border-radius: 5px;
    padding: 15px 32px;
    margin: 4px 2px;
}

.learn:hover {
    background-color: #463f37;
}


h1 {
    color: #e7dfd8;
    display: inline-block;
    margin: 5px;
}

nav {
    padding: 10px;
    background-color: #302b25;
    overflow: hidden;
    align-items: center;
}

nav a {
    float: right;
    display: block;
    color: #e7dfd8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background-color: #463f37;
    color: #e7dfd8;
}

.abstract {
    display: flex;

}

.left-abstract {
    flex: 40%;
    padding: 30px;
}

.right-abstract {
    flex: 60%;
    padding: 30px;
    padding-top: 50px;
}

.intro {
    text-align: center;
}

.intro-header {
    padding: 20px;
    display: inline-block;
    font-weight: bold;
}

.intro-section {
    padding: 30px;
}

.intro p {
    text-align: center;
}

.concept {
    display: flex;
}

.concept-header {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}

.left-concept {
    flex: 30%;
    padding: 20px;
}

.right-concept {
    flex: 70%;
    padding: 20px;
}

.query {
    text-align: center;
}

.query-header {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}

.left-query {
    display: inline-block;
    width: 49%;
    vertical-align: center;
    text-align: left;
    padding: 30px;
    
}

.right-query {
    display: inline-block;
    width: 49%;
    padding: 30px;
    
}
.query .left-query h2{
    margin: 0 auto;
}
.query .right-query{
    position: relative;
}
.query .right-query h2{

    text-align: center;
}
div.result{
    width: 100%;
    height: 90%;
}
.query-button {
    background-color: #302b25;
    border: none;
    color: #e7dfd8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.query-button:hover {
    background-color: #463f37;
}

.cond-box{
    text-align: left;
    margin: 15px 5%;
    width: 95%;
}

.submit-query > input{
    padding: 10px 20px;
    font-size: 18px;
    color: #302b25;
    background-color: #e0d8d1;
    cursor: pointer;
}
.submit-query > input:hover{
    color: #e7dfd8;
    background-color: #302b25;
}

.query-name{
    font-weight: bold;
}
header {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 15%;
}
footer{
    width: auto;
    margin: 10%;
    padding: 10%;
}
line:hover{
    fill: red;
}
@media (max-width: 900px) {

    .intro,
    .concept,
    .query {
        flex-direction: column;
    }
}
